{% load static %}
<html>
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <img src="{% static 'cat.jpg' %}">
    {% for user in users %}
        <div>
            <p> 이름 : {{ user.username }} </p>
            <p> 아이디 : {{ user.userid }} </p>
            <p> 성별 : {{ user.gender }} </p>
        </div>
    {% endfor %}
</body>
</html>